/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
!/[Aa]ssets/**/*.meta
/[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
# Builds
*.apk
*.unitypackage
crashlytics-build.properties

/[Aa]ssets/**/*.blend*
/[Aa]ssets/**/!*.blend
/[Aa]ssets/**/!*.blend.*
/[Aa]ssets/[Vv]ts*
